body {
    background-image: url("../source/forest.png");
    cursor: url(../source/cursor.cur), auto;
}

#borderDiv{
	width: 1260px;
	height: 880px;
	background-image:url(../source/mainBorder.png);
	margin-left: auto;
	margin-right: auto;
	padding-top:120px;
}

#main{

	width: 1024px;
	height: 768px;
/*	border: 5px solid grey; */
	margin-left: 120px;
}
#canvasDiv{
	width: 1020px;
	height: 512px;
    background-image:url(../source/background.png)
}
#gamePlot {
	width : 800px;
	height: 258px;
	float: left;
}
#inventory {
	width: 208px;
	height: 258px;
	float: left;
}

#Game6561{
    width: 380px;
    height: 255px;
    display: block;
    margin: auto;
    background-color: yellow;
}
.row {
    width: 380px;
    height: 60px;
    border: 1px solid green;
    margin-bottom: 2px;
}
.cell {
    width: 90px;
    height: 56px;
    border: 1px solid red;
    float: left;
    margin-left: 2px;
}
.node {
    width: 89px;
    height: 55px;
    background: red;
    position:relative;
}

