body {
    background-image: url("../source/forest.png");
    cursor: url(../source/cursor.cur), auto;
}

#borderDiv{
	width: 1260px;
	height: 880px;
	background-image:url(../source/mainBorder.png);
	margin-left: auto;
	margin-right: auto;
	padding-top:120px;
}

#main{

	width: 1024px;
	height: 768px;
/*	border: 5px solid grey; */
	margin-left: 120px;
}
#canvasDiv{
	width: 1020px;
	height: 512px;
    background-image:url(../source/background.png)
}
#gamePlot {
	width : 797px;
	height: 250px;
	float: left;
	border:px solid blue;
	background-image: url(../source/gamePlotBackground.png);
}
#inventory {
	width: 224px;
	height: 256px;
	float: left;
}

#Game6561{
    width: 380px;
    height: 255px;
    display: none;
    margin: auto;
    background-color: yellow;
}
.row {
    width: 380px;
    height: 60px;
    border: 1px solid green;
    margin-bottom: 2px;
}
.cell {
    width: 90px;
    height: 56px;
    border: 1px solid red;
    float: left;
    margin-left: 2px;
}
.node {
    width: 89px;
    height: 55px;
    background: red;
    position:relative;
}


#square-game{
    width:260px;
    height:260px;
    margin:auto;
    display:block;
    position:relative;
    background-image: url(../source/square-game-backgorund.png);
    background-size:260px 260px;
    display:none;
}

#square-game-map {
    width:240px;
    height:240px;
    position:absolute;
    margin:10px 0 0 10px;
    background-color:grey;
    opacity:0.5;
    
}

.square {
    opacity:0.8;
    border-radius: 5px;
    position: absolute;
    width:26px;
    height:26px;
    border: 2px solid black;
}


/*moar work to be done here*/

#inventory-container {
	background-image: url(../source/inventory.png);
	width: 224px;
    height: 250px;
    margin-right: 3px;
    float: right;
 /*   background-size: 180px 260px; */
    z-index:1;
}

#inventory {
    width: 222px;
    height:250px;
/*     border: 1px solid blue; */
	padding-left:1px;
    padding-top: 2px;
}

.inventory-slot {
    width: 55px;
    height: 55px;
    margin-left: 36px;
    margin-top: 19px;
    float:left;
    border-radius: 9px;
/*     border: 1px solid white; */
    overflow:hidden;
}

 .item {
    width:60px;
    height:60px;
 }


